/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

:root {
  /* Color styles */
  --white: rgba(243, 243, 242, 1);
  --white-transparent: rgba(243, 243, 242, 0);
  --black: rgba(12, 12, 13, 1);
  --black-transparent: rgba(12, 12, 13, 0);
  --clawdio-100: rgba(248, 234, 234, 1);
  --clawdio-1000-brand: rgba(188, 47, 47, 1);
  --clawdio-1100: rgba(169, 42, 42, 1);
  --clawdio-1200: rgba(150, 38, 38, 1);
  --clawdio-1300: rgba(132, 33, 33, 1);
  --clawdio-1400: rgba(113, 28, 28, 1);
  --clawdio-1500: rgba(94, 24, 24, 1);
  --clawdio-1600: rgba(75, 19, 19, 1);
  --clawdio-1700: rgba(56, 14, 14, 1);
  --clawdio-1800: rgba(19, 5, 5, 1);
  --clawdio-200: rgba(242, 213, 213, 1);
  --clawdio-300: rgba(235, 193, 193, 1);
  --clawdio-400: rgba(222, 151, 151, 1);
  --clawdio-500: rgba(215, 130, 130, 1);
  --clawdio-600: rgba(208, 109, 109, 1);
  --clawdio-700: rgba(201, 89, 89, 1);
  --clawdio-800: rgba(195, 68, 68, 1);
  --clawdio-900: rgba(188, 47, 47, 1);
  --gray-1: rgba(253, 252, 253, 1);
  --gray-10: rgba(134, 132, 141, 1);
  --gray-11: rgba(111, 110, 119, 1);
  --gray-12: rgba(26, 21, 35, 1);
  --gray-2: rgba(249, 248, 249, 1);
  --gray-3: rgba(244, 242, 244, 1);
  --gray-4: rgba(238, 237, 239, 1);
  --gray-5: rgba(233, 232, 234, 1);
  --gray-6: rgba(228, 226, 228, 1);
  --gray-7: rgba(220, 219, 221, 1);
  --gray-8: rgba(200, 199, 203, 1);
  --gray-9: rgba(144, 142, 150, 1);
  --violet-1: rgba(253, 252, 254, 1);
  --violet-10: rgba(100, 79, 193, 1);
  --violet-11: rgba(87, 70, 175, 1);
  --violet-12: rgba(32, 19, 75, 1);
  --violet-2: rgba(251, 250, 255, 1);
  --violet-3: rgba(245, 242, 255, 1);
  --violet-4: rgba(237, 233, 254, 1);
  --violet-5: rgba(228, 222, 252, 1);
  --violet-6: rgba(215, 207, 249, 1);
  --violet-7: rgba(196, 184, 243, 1);
  --violet-8: rgba(170, 153, 236, 1);
  --violet-9: rgba(110, 86, 207, 1);

  --pink-1: #fffcfeff;
  --pink-2: #fff7fcff;
  --pink-3: #feeef8ff;
  --pink-4: #fce5f3ff;
  --pink-5: #f9d8ecff;
  --pink-6: #f3c6e2ff;
  --pink-7: #ecadd4ff;
  --pink-8: #e38ec3ff;
  --pink-9: #d6409fff;
  --pink-10: #d23197ff;
  --pink-11: #cd1d8dff;
  --pink-12: #3b0a2aff;
  --plum-1: #fefcffff;
  --plum-2: #fff8ffff;
  --plum-3: #fceffcff;
  --plum-4: #f9e5f9ff;
  --plum-5: #f3d9f4ff;
  --plum-6: #ebc8edff;
  --plum-7: #dfafe3ff;
  --plum-8: #cf91d8ff;
  --plum-9: #ab4abaff;
  --plum-10: #a43cb4ff;
  --plum-11: #9c2badff;
  --plum-12: #340c3bff;
  --violet-1: #fdfcfeff;
  --violet-2: #fbfaffff;
  --violet-3: #f5f2ffff;
  --violet-4: #ede9feff;
  --violet-5: #e4defcff;
  --violet-6: #d7cff9ff;
  --violet-7: #c4b8f3ff;
  --violet-8: #aa99ecff;
  --violet-9: #6e56cfff;
  --violet-10: #644fc1ff;
  --violet-11: #5746afff;
  --violet-12: #20134bff;
  --indigo-1: #fdfdfeff;
  --indigo-2: #f8faffff;
  --indigo-3: #f0f4ffff;
  --indigo-4: #e6edfeff;
  --indigo-5: #d9e2fcff;
  --indigo-6: #c6d4f9ff;
  --indigo-7: #aec0f5ff;
  --indigo-8: #8da4efff;
  --indigo-9: #3e63ddff;
  --indigo-10: #3a5cccff;
  --indigo-11: #3451b2ff;
  --indigo-12: #101d46ff;
  --blue-1: #fbfdffff;
  --blue-2: #f5faffff;
  --blue-3: #edf6ffff;
  --blue-4: #e1f0ffff;
  --blue-5: #cee7feff;
  --blue-6: #b7d9f8ff;
  --blue-7: #96c7f2ff;
  --blue-8: #5eb0efff;
  --blue-9: #0091ffff;
  --blue-10: #0081f1ff;
  --blue-11: #006adcff;
  --blue-12: #00254dff;
  --cyan-1: #fafdfeff;
  --cyan-2: #f2fcfdff;
  --cyan-3: #e7f9fbff;
  --cyan-4: #d8f3f6ff;
  --cyan-5: #c4eaefff;
  --cyan-6: #aadee6ff;
  --cyan-7: #84cddaff;
  --cyan-8: #3db9cfff;
  --cyan-9: #05a2c2ff;
  --cyan-10: #0894b3ff;
  --cyan-11: #0c7792ff;
  --cyan-12: #04313cff;
  --grass-1: #fbfefbff;
  --grass-2: #f3fcf3ff;
  --grass-3: #ebf9ebff;
  --grass-4: #dff3dfff;
  --grass-5: #ceebcfff;
  --grass-6: #b7dfbaff;
  --grass-7: #97cf9cff;
  --grass-8: #65ba75ff;
  --grass-9: #46a758ff;
  --grass-10: #3d9a50ff;
  --grass-11: #297c3bff;
  --grass-12: #1b311eff;
  --orange-1: #fefcfbff;
  --orange-2: #fef8f4ff;
  --orange-3: #fff1e7ff;
  --orange-4: #ffe8d7ff;
  --orange-5: #ffdcc3ff;
  --orange-6: #ffcca7ff;
  --orange-7: #ffb381ff;
  --orange-8: #fa934eff;
  --orange-9: #f76808ff;
  --orange-10: #ed5f00ff;
  --orange-11: #bd4b00ff;
  --orange-12: #451e11ff;
  --brown-1: #fefdfcff;
  --brown-2: #fcf9f6ff;
  --brown-3: #f8f1eaff;
  --brown-4: #f4e9ddff;
  --brown-5: #efddccff;
  --brown-6: #e8cdb5ff;
  --brown-7: #ddb896ff;
  --brown-8: #d09e72ff;
  --brown-9: #ad7f58ff;
  --brown-10: #a07653ff;
  --brown-11: #886349ff;
  --brown-12: #3f2c22ff;
  --lime-1: #fcfdfaff;
  --lime-2: #f7fcf0ff;
  --lime-3: #eefadcff;
  --lime-4: #e4f7c7ff;
  --lime-5: #d7f2b0ff;
  --lime-6: #c9e894ff;
  --lime-7: #b1d16aff;
  --lime-8: #94ba2cff;
  --lime-9: #99d52aff;
  --lime-10: #93c926ff;
  --lime-11: #5d770dff;
  --lime-12: #263209ff;
  --amber-1: #fefdfbff;
  --amber-2: #fff9edff;
  --amber-3: #fff4d5ff;
  --amber-4: #ffecbcff;
  --amber-5: #ffe3a2ff;
  --amber-6: #ffd386ff;
  --amber-7: #f3ba63ff;
  --amber-8: #ee9d2bff;
  --amber-9: #ffb224ff;
  --amber-10: #ffa01cff;
  --amber-11: #ad5700ff;
  --amber-12: #4e2009ff;

  /* Fonts */
  --font-family: "IBM Plex Sans", sans-serif;
  --font-family-mono: "IBM Plex Mono", sans-serif;

  /* Text-size styles */
  --font-size-1: 0.56rem;
  --font-size-2: 0.62rem;
  --font-size-3: 0.69rem;
  --font-size-4: 0.75rem;
  --font-size-5: 0.81rem;
  --font-size-6: 0.88rem;
  --font-size-7: 0.94rem;
  --font-size-8: 1.06rem;
  --font-size-9: 1.25rem;
  --font-size-10: 1.5rem;
  --font-size-11: 1.62rem;
  --font-size-12: 1.75rem;
  --font-size-13: 2rem;
  --font-size-14: 2.5rem;
  --font-size-15: 4rem;

  /* base size: --body-1 (16px) */
  --title-1: 4rem;
  --title-2: 2.5rem;
  --title-3: 2rem;
  --heading-h1: 1.75rem;
  --heading-h2: 1.62rem;
  --heading-h3: 1.5rem;
  --heading-h4: 1.25rem;
  --label-1: 1.06rem;
  --label-2: 0.94rem;
  --label-3: 0.81rem;
  --label-4: 0.75rem;
  --label-5: 0.69rem;
  --body-1: 1rem;
  --body-2: 0.88rem;
  --body-3: 0.75rem;
  --tiny: 0.62rem;
  --tiny--extended: 0.62rem;
  --micro: 0.56rem;

  /* Spacing */
  --space-0: 0px;
  --space-0-25: 2px;
  --space-0-5: 4px;
  --space-0-75: 8px;
  --space-1: 20px;
  --space-1-5: 24px;
  --space-2: 28px;
  --space-2-5: 32px;
  --space-3: 36px;
  --space-3-5: 40px;
  --space-4: 44px;
  --space-true: 44px;
  --space-4-5: 48px;
  --space-5: 52px;
  --space-5-5: 59px;
  --space-6: 64px;
  --space-6-5: 69px;
  --space-7: 74px;
  --space-7-6: 79px;
  --space-8: 84px;
  --space-8-5: 89px;
  --space-9: 94px;
  --space-9-5: 99px;
  --space-10: 104px;
  --space-11: 124px;
  --space-12: 144px;
  --space-13: 164px;
  --space-14: 184px;
  --space-15: 204px;
  --space-16: 224px;
  --space-17: 224px;
  --space-18: 244px;
  --space-19: 264px;
  --space-20: 284px;

  /* Gradients */
  --gradient-black-to-transparent: linear-gradient(
    0deg,
    var(--colors-page-bg) 0%,
    var(--colors-page-bg-transparent) 100%
  );
  --gradient-transparent-to-black: linear-gradient(
    0deg,
    var(--colors-page-bg-transparent) 0%,
    var(--colors-page-bg) 100%
  );

  /* Semantic */
  --colors-page-bg: var(--white);
  --colors-page-bg-transparent: var(--white-transparent);
  --colors-text: var(--gray-12);

  /* Breakpoints */
  --breakpoint-mobile: 320px;
  --breakpoint-tablet: 600px;
  --breakpoint-computer: 992px;
  --breakpoint-desktop: 1200px;
  --breakpoint-widescreen: 1600px;

  /* Animation */
  --easing-in-out-cubic: cubic-bezier(0.65, 0, 0.35, 1);
  --easing-in-out-quart: cubic-bezier(0.25, 1, 0.5, 1);

  /* Overrides */
  /* You can override the default Infima variables here. */
  --ifm-background-color: var(--colors-page-bg);
  --ifm-navbar-background-color: transparent;
  --ifm-font-family-base: var(--font-family);
  --ifm-font-family-monospace: var(--font-family-mono);
  --ifm-z-index-fixed: 710;

  --ifm-color-primary: var(--clawdio-1000-brand);
  --ifm-color-primaryer: var(--clawdio-1100-brand);
  --ifm-color-primaryest: var(--clawdio-1200-brand);
  --ifm-color-primary-light: var(--clawdio-900-brand);
  --ifm-color-primary-lighter: var(--clawdio-800-brand);
  --ifm-color-primary-lightest: var(--clawdio-700-brand);
  --ifm-code-font-size: 95%;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.1);
  --ifm-font-weight-semibold: 400;
  --ifm-pre-padding: var(--space-4);
  --ifm-table-stripe-background: transparent;
}

.theme-code-block-highlighted-line {
  --docusaurus-highlighted-code-line-bg: rgba(150, 38, 38, 0.1);
  padding-top: 0.25rem;
  padding-bottom: 1rem;
}

.navbar-sidebar,
.docs-wrapper .navbar {
  --ifm-navbar-background-color: var(--colors-page-bg);
}

.docs-wrapper #__docusaurus,
.navbar--fixed-top .navbar__inner {
  max-width: 1600px;
  margin: auto;
}

.docMainContainer_namt {
  --ifm-spacing-horizontal: 3rem;
}
@media screen and (max-width: 1200px) {
  .docMainContainer_namt {
    --ifm-spacing-horizontal: 2rem;
  }
}
@media screen and (max-width: 450px) {
  .docMainContainer_namt {
    --ifm-spacing-horizontal: 1rem;
  }
}

/* Admonitions */
.theme-admonition {
  border: 1.8px solid var(--gray-5);
  box-shadow: 0px 2px 6px var(--ifm-header-background);
  border-left-width: 3.5px;
}

.theme-admonition-note {
  background: var(--gray-1);
  border-color: var(--gray-6);
  --ifm-code-background: var(--gray-6);
  --ifm-header-background: var(--gray-4);
}
.theme-admonition-tip {
  background: var(--grass-1);
  border-color: var(--grass-6);
  --ifm-code-background: var(--grass-6);
  --ifm-header-background: var(--grass-4);
}
.theme-admonition-info {
  background: var(--cyan-1);
  border-color: var(--cyan-6);
  --ifm-code-background: var(--cyan-6);
  --ifm-header-background: var(--cyan-3);
}
.theme-admonition-warning {
  background: var(--amber-1);
  border-color: var(--amber-6);
  --ifm-code-background: var(--amber-6);
  --ifm-header-background: var(--amber-4);
}
.theme-admonition-danger {
  background: var(--pink-1);
  border-color: var(--pink-6);
  --ifm-code-background: var(--pink-6);
  --ifm-header-background: var(--pink-4);
}

.admonitionHeading_uVvU {
  display: inline-block;
  background: var(--ifm-header-background);
  padding: var(--space-0-5) var(--space-0-75);
  border-radius: var(--space-0-5);
}

/* Tabs */

.tabs {
  gap: 1rem;
  overflow: visible;
}
.tabs__item {
  padding: 12px 14px;
  padding-right: 128px;
  border-radius: 8px;

  background: var(--gray-1);
  color: var(--color-text);
  border-color: var(--gray-7);
  box-shadow: none;
}

.tabs__item:hover {
  background: var(--gray-3);
}

.tabs__item.tabs__item--active {
  background: radial-gradient(50% 220.45% at 50% 50%, #842121 0%, #4b1313 100%);
  box-shadow: 0px 2px 12px var(--clawdio-1600);
  background-size: 200% 100%;
  background-position: 50% 0;
  border-color: var(--clawdio-1400);
}

.tabs__item.tabs__item--active:hover {
  background-position: 100% 0;
  box-shadow: 0px 2px 8px var(--clawdio-1600);
  border-color: var(--clawdio-1200);
}

/* Responsive Variables */

@media screen and (max-width: 1200px) {
  :root {
    --title-1: 3.2rem;
    --title-2: 2rem;
    --title-3: 1.6rem;
    --heading-h1: 1.4rem;
    --heading-h2: 1.296rem;
    --heading-h3: 1.2rem;
    --heading-h4: 1rem;
    --ifm-pre-padding: var(--space-2);
  }
}

@media screen and (max-width: 450px) {
  :root {
    --title-1: 2.56rem;
    --title-2: 1.6rem;
    --title-3: 1.28rem;
    --heading-h1: 1.12rem;
    --heading-h2: 1.0368rem;
    --heading-h3: 0.96rem;
    --heading-h4: 0.8rem;
  }
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme="dark"] {
  --ifm-color-primary: var(--clawdio-1000-brand);
  --ifm-color-primaryer: var(--clawdio-1100-brand);
  --ifm-color-primaryest: var(--clawdio-1200-brand);
  --ifm-color-primary-light: var(--clawdio-900-brand);
  --ifm-color-primary-lighter: var(--clawdio-800-brand);
  --ifm-color-primary-lightest: var(--clawdio-700-brand);
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.3);

  --gray-1: rgba(22, 22, 24, 1);
  --gray-10: rgba(126, 125, 134, 1);
  --gray-11: rgba(160, 159, 166, 1);
  --gray-12: rgba(237, 237, 239, 1);
  --gray-2: rgba(28, 28, 31, 1);
  --gray-3: rgba(35, 35, 38, 1);
  --gray-4: rgba(40, 40, 44, 1);
  --gray-5: rgba(46, 46, 50, 1);
  --gray-6: rgba(52, 52, 58, 1);
  --gray-7: rgba(62, 62, 68, 1);
  --gray-8: rgba(80, 79, 87, 1);
  --gray-9: rgba(112, 111, 120, 1);
  --violet-1: rgba(23, 21, 31, 1);
  --violet-10: rgba(124, 102, 220, 1);
  --violet-11: rgba(158, 140, 252, 1);
  --violet-12: rgba(241, 238, 254, 1);
  --violet-2: rgba(28, 23, 43, 1);
  --violet-3: rgba(37, 30, 64, 1);
  --violet-4: rgba(44, 34, 80, 1);
  --violet-5: rgba(50, 39, 95, 1);
  --violet-6: rgba(57, 44, 114, 1);
  --violet-7: rgba(68, 53, 146, 1);
  --violet-8: rgba(88, 66, 195, 1);
  --violet-9: rgba(110, 86, 207, 1);

  --pink-1: #1f121bff;
  --pink-2: #271421ff;
  --pink-3: #3a182fff;
  --pink-4: #451a37ff;
  --pink-5: #501b3fff;
  --pink-6: #601d48ff;
  --pink-7: #7a1d5aff;
  --pink-8: #a71873ff;
  --pink-9: #d6409fff;
  --pink-10: #e34ba9ff;
  --pink-11: #f65cb6ff;
  --pink-12: #feebf7ff;
  --plum-1: #1d131dff;
  --plum-2: #251425ff;
  --plum-3: #341a34ff;
  --plum-4: #3e1d40ff;
  --plum-5: #48214bff;
  --plum-6: #542658ff;
  --plum-7: #692d6fff;
  --plum-8: #883894ff;
  --plum-9: #ab4abaff;
  --plum-10: #bd54c6ff;
  --plum-11: #d864d8ff;
  --plum-12: #fbecfcff;
  --violet-1: #17151fff;
  --violet-2: #1c172bff;
  --violet-3: #251e40ff;
  --violet-4: #2c2250ff;
  --violet-5: #32275fff;
  --violet-6: #392c72ff;
  --violet-7: #443592ff;
  --violet-8: #5842c3ff;
  --violet-9: #6e56cfff;
  --violet-10: #7c66dcff;
  --violet-11: #9e8cfcff;
  --violet-12: #f1eefeff;
  --indigo-1: #131620ff;
  --indigo-2: #15192dff;
  --indigo-3: #192140ff;
  --indigo-4: #1c274fff;
  --indigo-5: #1f2c5cff;
  --indigo-6: #22346eff;
  --indigo-7: #273e89ff;
  --indigo-8: #2f4eb2ff;
  --indigo-9: #3e63ddff;
  --indigo-10: #5373e7ff;
  --indigo-11: #849dffff;
  --indigo-12: #ffffffff;
  --blue-1: #0f1720ff;
  --blue-2: #0f1b2dff;
  --blue-3: #10243eff;
  --blue-4: #102a4cff;
  --blue-5: #0f3058ff;
  --blue-6: #0d3868ff;
  --blue-7: #0a4481ff;
  --blue-8: #0954a5ff;
  --blue-9: #0091ffff;
  --blue-10: #369effff;
  --blue-11: #52a9ffff;
  --blue-12: #eaf6ffff;
  --cyan-1: #07191dff;
  --cyan-2: #061e24ff;
  --cyan-3: #072830ff;
  --cyan-4: #07303bff;
  --cyan-5: #073844ff;
  --cyan-6: #064150ff;
  --cyan-7: #045063ff;
  --cyan-8: #00647dff;
  --cyan-9: #05a2c2ff;
  --cyan-10: #00b1ccff;
  --cyan-11: #00c2d7ff;
  --cyan-12: #e1f8faff;
  --grass-1: #0d1912ff;
  --grass-2: #0f1e13ff;
  --grass-3: #132819ff;
  --grass-4: #16301dff;
  --grass-5: #193921ff;
  --grass-6: #1d4427ff;
  --grass-7: #245530ff;
  --grass-8: #2f6e3bff;
  --grass-9: #46a758ff;
  --grass-10: #55b467ff;
  --grass-11: #63c174ff;
  --grass-12: #e5fbebff;
  --orange-1: #1f1206ff;
  --orange-2: #2b1400ff;
  --orange-3: #391a03ff;
  --orange-4: #441f04ff;
  --orange-5: #4f2305ff;
  --orange-6: #5f2a06ff;
  --orange-7: #763205ff;
  --orange-8: #943e00ff;
  --orange-9: #f76808ff;
  --orange-10: #ff802bff;
  --orange-11: #ff8b3eff;
  --orange-12: #feeaddff;
  --brown-1: #191513ff;
  --brown-2: #221813ff;
  --brown-3: #2e201aff;
  --brown-4: #36261eff;
  --brown-5: #3e2c22ff;
  --brown-6: #493528ff;
  --brown-7: #5c4332ff;
  --brown-8: #775940ff;
  --brown-9: #ad7f58ff;
  --brown-10: #bd8b60ff;
  --brown-11: #dba16eff;
  --brown-12: #faf0e5ff;
  --lime-1: #141807ff;
  --lime-2: #181d08ff;
  --lime-3: #1e260dff;
  --lime-4: #252e0fff;
  --lime-5: #2b3711ff;
  --lime-6: #344213ff;
  --lime-7: #415215ff;
  --lime-8: #536716ff;
  --lime-9: #99d52aff;
  --lime-10: #c4f042ff;
  --lime-11: #87be22ff;
  --lime-12: #effbddff;
  --amber-1: #1f1300ff;
  --amber-2: #271700ff;
  --amber-3: #341c00ff;
  --amber-4: #3f2200ff;
  --amber-5: #4a2900ff;
  --amber-6: #573300ff;
  --amber-7: #693f05ff;
  --amber-8: #824e00ff;
  --amber-9: #ffb224ff;
  --amber-10: #ffcb47ff;
  --amber-11: #f1a10dff;
  --amber-12: #fef3ddff;

  /* Semantic */
  --colors-page-bg: var(--black);
  --colors-page-bg-transparent: var(--black-transparent);
}

/* Global styles */
body {
  background-color: var(--colors-page-bg);
  font-family: var(--font-family);
}

.theme-layout-main {
  margin-bottom: var(--space-8);
}

/*  Shared Styles */

/* Layout */

.ContentArea {
  padding: var(--space-3-5);
}

@media screen and (max-width: 1200px) {
  .ContentArea {
    padding: var(--space-2-5);
  }
}
@media screen and (max-width: 450px) {
  .ContentArea {
    padding: var(--space-2);
  }
}

/* Component Sub-styles */

.GlowStroke {
  border: 1.8px solid var(--gray-5);
  box-shadow: 0px 2px 6px var(--gray-4);
}

.GlowStroke.clawdio {
  border: 1.8px solid var(--clawdio-1500);
  box-shadow: 0px 2px 6px var(--clawdio-1300);
}

[data-theme="light"] {
  .GlowStroke.clawdio {
    border: 1.8px solid var(--clawdio-300);
    box-shadow: 0px 2px 6px var(--clawdio-200);
  }
}
