/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

:root {
  /* Color styles */
  --white: rgba(243, 243, 242, 1);
  --white-transparent: rgba(243, 243, 242, 0);
  --black: rgba(12, 12, 13, 1);
  --black-transparent: rgba(12, 12, 13, 0);
  --clawdio-100: rgba(248, 234, 234, 1);
  --clawdio-1000-brand: rgba(188, 47, 47, 1);
  --clawdio-1100: rgba(169, 42, 42, 1);
  --clawdio-1200: rgba(150, 38, 38, 1);
  --clawdio-1300: rgba(132, 33, 33, 1);
  --clawdio-1400: rgba(113, 28, 28, 1);
  --clawdio-1500: rgba(94, 24, 24, 1);
  --clawdio-1600: rgba(75, 19, 19, 1);
  --clawdio-1700: rgba(56, 14, 14, 1);
  --clawdio-1800: rgba(19, 5, 5, 1);
  --clawdio-200: rgba(242, 213, 213, 1);
  --clawdio-300: rgba(235, 193, 193, 1);
  --clawdio-400: rgba(222, 151, 151, 1);
  --clawdio-500: rgba(215, 130, 130, 1);
  --clawdio-600: rgba(208, 109, 109, 1);
  --clawdio-700: rgba(201, 89, 89, 1);
  --clawdio-800: rgba(195, 68, 68, 1);
  --clawdio-900: rgba(188, 47, 47, 1);
  --gray-1: rgba(253, 252, 253, 1);
  --gray-10: rgba(134, 132, 141, 1);
  --gray-11: rgba(111, 110, 119, 1);
  --gray-12: rgba(26, 21, 35, 1);
  --gray-2: rgba(249, 248, 249, 1);
  --gray-3: rgba(244, 242, 244, 1);
  --gray-4: rgba(238, 237, 239, 1);
  --gray-5: rgba(233, 232, 234, 1);
  --gray-6: rgba(228, 226, 228, 1);
  --gray-7: rgba(220, 219, 221, 1);
  --gray-8: rgba(200, 199, 203, 1);
  --gray-9: rgba(144, 142, 150, 1);
  --violet-1: rgba(253, 252, 254, 1);
  --violet-10: rgba(100, 79, 193, 1);
  --violet-11: rgba(87, 70, 175, 1);
  --violet-12: rgba(32, 19, 75, 1);
  --violet-2: rgba(251, 250, 255, 1);
  --violet-3: rgba(245, 242, 255, 1);
  --violet-4: rgba(237, 233, 254, 1);
  --violet-5: rgba(228, 222, 252, 1);
  --violet-6: rgba(215, 207, 249, 1);
  --violet-7: rgba(196, 184, 243, 1);
  --violet-8: rgba(170, 153, 236, 1);
  --violet-9: rgba(110, 86, 207, 1);

  /* Fonts */
  --font-family: "IBM Plex Sans", sans-serif;
  --font-family-mono: "IBM Plex Mono", sans-serif;

  /* Text-size styles */
  --font-size-1: 0.56rem;
  --font-size-2: 0.62rem;
  --font-size-3: 0.69rem;
  --font-size-4: 0.75rem;
  --font-size-5: 0.81rem;
  --font-size-6: 0.88rem;
  --font-size-7: 0.94rem;
  --font-size-8: 1.06rem;
  --font-size-9: 1.25rem;
  --font-size-10: 1.5rem;
  --font-size-11: 1.62rem;
  --font-size-12: 1.75rem;
  --font-size-13: 2rem;
  --font-size-14: 2.5rem;
  --font-size-15: 4rem;

  /* base size: --body-1 (16px) */
  --title-1: 4rem;
  --title-2: 2.5rem;
  --title-3: 2rem;
  --heading-h1: 1.75rem;
  --heading-h2: 1.62rem;
  --heading-h3: 1.5rem;
  --heading-h4: 1.25rem;
  --label-1: 1.06rem;
  --label-2: 0.94rem;
  --label-3: 0.81rem;
  --label-4: 0.75rem;
  --label-5: 0.69rem;
  --body-1: 1rem;
  --body-2: 0.88rem;
  --body-3: 0.75rem;
  --tiny: 0.62rem;
  --tiny--extended: 0.62rem;
  --micro: 0.56rem;

  /* Spacing */
  --space-0: 0px;
  --space-0-25: 2px;
  --space-0-5: 4px;
  --space-0-75: 8px;
  --space-1: 20px;
  --space-1-5: 24px;
  --space-2: 28px;
  --space-2-5: 32px;
  --space-3: 36px;
  --space-3-5: 40px;
  --space-4: 44px;
  --space-true: 44px;
  --space-4-5: 48px;
  --space-5: 52px;
  --space-5-5: 59px;
  --space-6: 64px;
  --space-6-5: 69px;
  --space-7: 74px;
  --space-7-6: 79px;
  --space-8: 84px;
  --space-8-5: 89px;
  --space-9: 94px;
  --space-9-5: 99px;
  --space-10: 104px;
  --space-11: 124px;
  --space-12: 144px;
  --space-13: 164px;
  --space-14: 184px;
  --space-15: 204px;
  --space-16: 224px;
  --space-17: 224px;
  --space-18: 244px;
  --space-19: 264px;
  --space-20: 284px;

  /* Gradients */
  --gradient-black-to-transparent: linear-gradient(
    0deg,
    var(--colors-page-bg) 0%,
    var(--colors-page-bg-transparent) 100%
  );
  --gradient-transparent-to-black: linear-gradient(
    0deg,
    var(--colors-page-bg-transparent) 0%,
    var(--colors-page-bg) 100%
  );

  /* Semantic */
  --colors-page-bg: var(--white);
  --colors-page-bg-transparent: var(--white-transparent);
  --colors-text: var(--gray-12);

  /* Breakpoints */
  --breakpoint-mobile: 320px;
  --breakpoint-tablet: 600px;
  --breakpoint-computer: 992px;
  --breakpoint-desktop: 1200px;
  --breakpoint-widescreen: 1600px;

  /* Overrides */
  /* You can override the default Infima variables here. */
  --ifm-background-color: var(--colors-page-bg);
  --ifm-navbar-background-color: transparent;
  --ifm-font-family-base: var(--font-family);
  --ifm-font-family-monospace: var(--font-family-mono);
  --ifm-z-index-fixed: 710;

  --ifm-color-primary: var(--clawdio-1000-brand);
  --ifm-color-primaryer: var(--clawdio-1100-brand);
  --ifm-color-primaryest: var(--clawdio-1200-brand);
  --ifm-color-primary-light: var(--clawdio-900-brand);
  --ifm-color-primary-lighter: var(--clawdio-800-brand);
  --ifm-color-primary-lightest: var(--clawdio-700-brand);
  --ifm-code-font-size: 95%;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.1);
  --ifm-font-weight-semibold: 400;
}

/* Responsive Variables */

@media screen and (max-width: 1200px) {
  :root {
    --title-1: 3.2rem;
    --title-2: 2rem;
    --title-3: 1.6rem;
    --heading-h1: 1.4rem;
    --heading-h2: 1.296rem;
    --heading-h3: 1.2rem;
    --heading-h4: 1rem;
  }
}

@media screen and (max-width: 450px) {
  :root {
    --title-1: 2.56rem;
    --title-2: 1.6rem;
    --title-3: 1.28rem;
    --heading-h1: 1.12rem;
    --heading-h2: 1.0368rem;
    --heading-h3: 0.96rem;
    --heading-h4: 0.8rem;
  }
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme="dark"] {
  --ifm-color-primary: var(--clawdio-1000-brand);
  --ifm-color-primaryer: var(--clawdio-1100-brand);
  --ifm-color-primaryest: var(--clawdio-1200-brand);
  --ifm-color-primary-light: var(--clawdio-900-brand);
  --ifm-color-primary-lighter: var(--clawdio-800-brand);
  --ifm-color-primary-lightest: var(--clawdio-700-brand);
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.3);

  --gray-1: rgba(22, 22, 24, 1);
  --gray-10: rgba(126, 125, 134, 1);
  --gray-11: rgba(160, 159, 166, 1);
  --gray-12: rgba(237, 237, 239, 1);
  --gray-2: rgba(28, 28, 31, 1);
  --gray-3: rgba(35, 35, 38, 1);
  --gray-4: rgba(40, 40, 44, 1);
  --gray-5: rgba(46, 46, 50, 1);
  --gray-6: rgba(52, 52, 58, 1);
  --gray-7: rgba(62, 62, 68, 1);
  --gray-8: rgba(80, 79, 87, 1);
  --gray-9: rgba(112, 111, 120, 1);
  --violet-1: rgba(23, 21, 31, 1);
  --violet-10: rgba(124, 102, 220, 1);
  --violet-11: rgba(158, 140, 252, 1);
  --violet-12: rgba(241, 238, 254, 1);
  --violet-2: rgba(28, 23, 43, 1);
  --violet-3: rgba(37, 30, 64, 1);
  --violet-4: rgba(44, 34, 80, 1);
  --violet-5: rgba(50, 39, 95, 1);
  --violet-6: rgba(57, 44, 114, 1);
  --violet-7: rgba(68, 53, 146, 1);
  --violet-8: rgba(88, 66, 195, 1);
  --violet-9: rgba(110, 86, 207, 1);

  /* Semantic */
  --colors-page-bg: var(--black);
  --colors-page-bg-transparent: var(--black-transparent);
}

/* Global styles */
body {
  background-color: var(--colors-page-bg);
  font-family: var(--font-family);
}

/*  Shared Styles */

/* Layout */

.ContentArea {
  padding: var(--space-3-5);
}

@media screen and (max-width: 1200px) {
  .ContentArea {
    padding: var(--space-2-5);
  }
}
@media screen and (max-width: 450px) {
  .ContentArea {
    padding: var(--space-2);
  }
}

/* Component Sub-styles */

.GlowStroke {
  border: 1.8px solid var(--gray-5);
  box-shadow: 0px 2px 6px var(--gray-4);
}
