.Footer {
  justify-content: space-between;
  padding: var(--space-4);
  padding-top: var(--space-8);
  margin: var(--space-2);
  margin-top: calc(var(--space-8) * -1);

  border-radius: 14px;
  border-width: 2.5px;
}

.Footer a {
  color: var(--gray-10);
}
